/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/keys/
/storage/app/keys/*.pem
/storage/app/keys/*.key
/storage/app/keys/*.p12
/storage/app/keys/*.pfx
/storage/app/keys/**/*.pem
/storage/app/keys/**/*.key
/storage/app/keys/**/*.p12
/storage/app/keys/**/*.pfx
/storage/app/certificates/
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/_render*/
/_skripsi*_extract.txt
/storage/coverage-*/
